{% extends 'base.html.twig' %}

{% block title %}Hello TrickController!{% endblock %}

{% form_theme  form with [
    'trick/_collectionImage.html.twig',
    'trick/_collectionVideo.html.twig'
] %}

{% block body %}

<div class="example-wrapper">
    <h1>Formulaire d'ajoute de figure</h1>

    {{ form_start(form) }}
    {{ form_widget(form)}}
    <button type="submit"> Creer la figure</button>
    {{ form_end(form)}}
</div>
{% endblock %}

{% block javascripts %}
    <script src="/js/trickForm.js"></script>
{% endblock %}
