{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<h1>Bienvenue sur SnowTrick</h1>
<ul>
{% for trick in tricks %}
    <li>
        <h2>{{ trick.title}}</h2>
        {% if trick.images|length > 0 %}
            {% set image = trick.images|first %}

            <img class="d-block w-100" src="{{asset('/uploads/' ~ image.url)}}" alt="First slide">

        {% endif %}
    </li>
{% endfor %}
</ul>
{% endblock %}
